.nav-bar-contener {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* fixed w-full h-[80px] 
    flex justify-between 
    items-center px-4 bg-[#08192f] 
    text-gray-300 */
}